.App {
  text-align: center;
}

.body {
  background: #b2fbd7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.login-box {
  display: block;
  justify-content: center;
}

.chat-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid violet;
}

.chatArea{
  justify-content: center;
  background-color: tan;
  border: 1px solid green;
  
}

.rooms{
  grid-area: 2 / 1 / 3 / 2;
  width: 30%;
  border: 1px solid green;
}

.participants{
  grid-area: 1 / 1 / 2 / 2;
  width: 30%;
  border: 1px solid green;
}

.chat{
  grid-area: 1 / 2 / 3 / 3;
  border: 1px solid green;
}

.gifTown{
  display: flex;
  justify-content: space-around;
  border: 1px solid green;
}

 .gif-prev{
   height: 200px;
   width: 200px;
   border: 1px solid red;
 }


