.App {
  text-align: center;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.login-box {
  display: block;
  justify-content: center;
}

.chat-container{
  display: grid; 
  grid-template-columns: .3fr 1fr .3fr; 
  grid-template-rows: 1fr; 
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
  background-color: tan;
  overflow:auto;
}

.chatArea{
  justify-content: center;
}

.side-nav{
  grid-area: 1 / 1 / 2 / 2;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  justify-content: center;
  background-color: slategray;
  box-shadow: 8px 5px 20px grey;
  overflow: auto;
}

.rooms{
  display: grid;
  justify-content: stretch;
  padding: 0 30px;
}

.participants{
  display: grid;
  justify-content: center;
}

.chat{
  grid-area: 1 / 2 / 2 / 3;
  height: 100vh;
  background-color: tan;
}

.gifTown{
  display: flex;
  flex-direction: column;
  align-content: center;
}


 .searcher{
  grid-area: 1 / 3 / 2 / 4;
  height: 100vh;
  justify-content: center;
  right: 0;
  z-index: 1;
  box-shadow: -8px 5px 20px grey;
  background-color: slategray;
  overflow: auto;
 }
 
 .search-side{
  height: 150px;
  justify-content: center;
  padding-top: 5px;
 }

input[type="text"] {
    padding: 7px 5px;
}

.create-room {
  display: flex;
  height: 35px;
}

.create-room button {
  background: #fff;
  outline: none;
  border: none;
  color: #fff;
  padding: 0;
  font-size: 36px;
  align-self: stretch;
  position: relative;
  cursor: pointer;
}

.create-room button i {
  height: 100%;
  position: absolute;
  top: 0;
}