.App {
  text-align: center;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.login-box {
  display: block;
  justify-content: center;
}

.chat-container{
  display: grid; 
  grid-template-columns: .3fr 1fr .3fr; 
  grid-template-rows: 1fr; 
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
  background-color: slategray;
  overflow:auto;
}

.chatArea{
  display: flex;
  text-align: center;
  padding: 30px 45px;
  flex-direction: column;
}

.message {
  display: flex;
  justify-content: flex-end;
}

.my-message {
  display: flex;
  justify-content: flex-start;
}

.message, .my-message h2{
  margin: 10px 0 35px;
}

.notification h4 {
  color: #fff;
  text-align: center;
  justify-content: center;
  margin-top:0;
}

.side-nav{
  grid-area: 1 / 1 / 2 / 2;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  justify-content: center;
  background-color: slategray;
  /* box-shadow: 8px 5px 20px grey; */
  overflow: auto;
  border-right: 1px solid #fff;
  padding: 0 30px;
}

.rooms{
  display: grid;
  justify-content: stretch;
}

.participants{
  display: grid;
  justify-content: center;
  margin-top: 40px;
}

.participants h3{
  margin: 10px 0;
}

.chat{
  grid-area: 1 / 2 / 2 / 3;
  height: 100vh;
  /* background-color: tan; */
}

.gifTown{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 30px;
}

.gif-prev {
  margin-bottom: 7px;
}

.gif-prev img {
  cursor: pointer;
}


 .searcher{
  grid-area: 1 / 3 / 2 / 4;
  height: 100vh;
  justify-content: center;
  position: fixed;
  right: 0;
  z-index: 1;
  /* box-shadow: -8px 5px 20px grey; */
  background-color: slategray;
  overflow: auto;
  border-left: 1px solid #fff;
  padding: 0 30px;
 }
 
 .search-side{
  justify-content: center;
  padding-top: 5px;
  margin-bottom: 50px;
 }

 .search-gifs {
   display: flex;
   align-items: stretch;

 }

 .searcher button {
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  font-size: 16px;
  border-radius: 2px;
  cursor: pointer;
  transition: .2s all
 }

 .searcher button:hover {
  background: #fff;
  color: slategray;
 }

input[type="text"] {
    padding: 7px 5px;
}

.create-room {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
}

.create-room button {
  background: transparent;
  outline: none;
  border: none;
  color: #fff;
  padding: 0;
  font-size: 36px;
  position: relative;
  cursor: pointer;
  align-self: stretch;
  display: flex;
}

/* .create-room button i {
  height: 100%;
  position: absolute;
  top: 0;
} */

