.chat-container {
    display: flex;
    min-height: 50vh;
    max-width: 800px;
}

.chat-container .rooms {
    width: 25%;
}

.chat-container .chat {
    width: 50%;
}

.chat-container .participants {
    width: 25%;
}